# Start phodav/chezdav in a directory of choice
# Template unit file. Start with systemctl start chezdav@path-to-dir
# Using - instead of /
#
[Unit]
Description=Chezdav Service for /%I
After=network.target

[Service]
Type=simple
User=debian-transmission
Group=sambashare
WorkingDirectory=/%I
ReadWritePaths=/%I
ExecStart=/usr/bin/chezdav -v --no-mdns -p 8008 --path=/%I
Restart=on-failure

# Security options
ReadOnlyPaths=/
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallFilter=@default @network-io @file-system @system-service

[Install]
WantedBy=multi-user.target

