[Unit]
Description=FreshRSS feed actualization
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/var/www

[Service]
Type=oneshot
User=www-data
Group=www-data
RootDirectory=/opt/chroot/alpine-caddyweb
MountAPIVFS=true
PrivateDevices=true
PrivateTmp=true
BindReadOnlyPaths=/dev/log /run/systemd/journal/socket /run/systemd/journal/stdout
BindPaths=/var/www
ExecStart=/usr/bin/php84 /var/www/FreshRSS/app/actualize_script.php
StandardOutput=journal
StandardError=journal
SyslogIdentifier=FreshRSS-actualize
