# /etc/systemd/system/lighttpd-chroot.service
[Unit]
Description=Latest version of lighttpd and php-cgi run inside a chroot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
RootDirectory=/opt/chroot/alpine-webserver
MountAPIVFS=true
PrivateDevices=true
BindReadOnlyPaths=/dev/log /run/systemd/journal/socket /run/systemd/journal/stdout
BindPaths=/var/www
RuntimeDirectory=lighttpd
RuntimeDirectoryMode=0777
ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd/lighttpd.conf
ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd/lighttpd.conf
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
