# /etc/systemd/system/transmission-daemon-chroot.service
[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
RootDirectory=/opt/chroot/alpine-transmission
BindPaths=/mnt/data/Downloads
MountAPIVFS=true
User=debian-transmission
Type=simple
ExecStart=/usr/bin/transmission-daemon -f --log-info -g /etc/transmission-daemon
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
